doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/status.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    br
    if message.length > 0
        div.alert.alert-danger#passport_alert #{message}
    br

    body(onload='$(\'#my-modal\').modal(\'show\');')
    #my-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                    h4.modal-title Welcome
                    p Welcome to SSNOC.Connect with others in the network, share your status, and reach out to people!
                    p Status Messages: OK - I am OK, I do not need help;
                    p Help - I need help, but this is not a life threatening emergency; 
                    p Emergency - I need help now, as this is a life threatening emergency! 
                    p Undefined - No status yet. 
                    p To share status, click on 'Submit' and select your status.
                    
