doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/status.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    div.container.text-center
form(action='/status', method='post')
    div.container.text.center
        h3 Post Status :
            select#test
                option(value='OK') OK - I am OK, I do not need help.
                option(value='Emergency') Emergency - I need help now, as this is a life threatening emergency!
                option(value='Help') Help - I need help, but this is not a life threatening emergency.
                option(value='Undefined') Undefined - I dont want to provide my status.
            button(type="submit",class='btn btn-info btn-lg' id="submitstatus" onclick="checkStatus()") Submit
    div.container.text.center
        h4.text.center
            table(border='1', style='width: 40%;', bgcolor='red')
                tr
                    th Username
                    th Status

                tr
                    td a
                    td

                tr
                    td b
                    td

    body(onload='$(\'#my-modal\').modal(\'show\');')
    #my-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ◊
                    h4.modal-title Welcome
                    | Welcome to SSNOC.Connect with others in the network, share your status, and reach out to people!Status Messages: OK - I am OK, I do not need help; Help - I need help, but this is not a life threatening emergency; Emergency - I need help now, as this is a life threatening emergency! Undefined - No status yet. To share status, click on 'Post Status' and select your status.
                    
