doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    div.container.text-center
      br
      h3 Welcome to Survivable Social Network on a Chip!!
		h1 Connect with others in the network, share your status, and reach out to people!
		
		Status Messages: OK - I am OK, I do not need help
						 Help - I need help, but this is not a life threatening emergency
						 Emergency - I need help now, as this is a life threatening emergency
						 Undefined - No status yet
						
		To share status, click on 'Post Status' and select your status. 
		
      a.btn.btn-info(href='/people') Let's start
